#Go {
	background-color: white;
	width: 150px;
	height: 50px;
	border-radius: 35px;
	position: absolute;
	top: 15px;
	left: 85%;
	z-index: 9999;
}
.NavText {
	text-decoration: none;
	color: white;
}

	#Gotext {
		font-family: "Arial";
		font-size: 25px;
		text-decoration: none;
		position: absolute;
		top: 12px;
		left: 28px;
		color: black;
	}

#body{
	background-color: rgb(252, 204, 204);
}

.landing_page_102_5 { 
	width:1440px;
	height:3593px;
	position:absolute;
}
.whh_gears_107_128 { 
	width:369px;
	height:347px;
	position:absolute;
	left:859px;
	top:2591px;
	background-image: url(images/whh_gears.png);
}
.Wavything{
	width: 100%;
	height: 90%;
	position: absolute;
	left: 0px;
	top: 0px;
}
.ellipse_2_102_7 { 
	border-radius:500px;
	width:206px;
	height:206px;
	position:absolute;
	left:206px;
	top:454px;
}
.ellipse_4_102_8 { 
	border-radius:500px;
	width:206px;
	height:206px;
	position:absolute;
	left:618px;
	top:454px;
}
.ellipse_9_102_9 { 
	border-radius:500px;
	width:206px;
	height:206px;
	position:absolute;
	left:1030px;
	top:454px;
}
.ellipse_8_102_10 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:206px;
	height:206px;
	position:absolute;
	left:1442px;
	top:476px;
}
.welcome_to_cursorbridge_102_11 { 
	color:rgba(255, 255, 255, 1);
	width:922px;
	height:106px;
	position:absolute;
	left:260px;
	top:224px;
	font-family:Sawarabi Mincho;
	text-align:left;
	font-size:72px;
	letter-spacing:0;
}
.rectangle_1_102_12 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	width:606px;
	height:143px;
	position:absolute;
	left:417px;
	top:-32px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	outline: 7px solid white;
}

.home_102_13 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:45px;
	position:absolute;
	left:536px;
	top:33px;
	font-family:Single Day;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.a_place_where_you_can_find_all_the_ui_needs_for_your_website__102_14 { 
	color:rgba(255, 255, 255, 1);
	width:844px;
	height:45px;
	position:absolute;
	left:283px;
	top:330px;
	font-family:Single Day;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.about_102_15 { 
	color:rgba(255, 255, 255, 1);
	width:82px;
	height:45px;
	position:absolute;
	left:697px;
	top:33px;
	font-family:Single Day;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.buy_102_16 { 
	color:rgba(255, 255, 255, 1);
	width:48px;
	height:45px;
	position:absolute;
	left:857px;
	top:33px;
	font-family:Single Day;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.exceptional_ui_at_your_fingertipes_102_109 { 
	color:rgba(0, 0, 0, 1);
	width:647px;
	height:114px;
	position:absolute;
	left:720px;
	top:882px;
	font-family:Share Tech;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.exceptional_ui_at_your_fingertipes_104_111 { 
	color:rgba(0, 0, 0, 1);
	width:647px;
	height:114px;
	position:absolute;
	left:73px;
	top:1543px;
	font-family:Share Tech;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.exceptional_ui_at_your_fingertipes_104_113 { 
	color:rgba(0, 0, 0, 1);
	width:647px;
	height:114px;
	position:absolute;
	left:720px;
	top:2058px;
	font-family:Share Tech;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.exceptional_ui_at_your_fingertipes_104_117 { 
	color:rgba(0, 0, 0, 1);
	width:647px;
	height:114px;
	position:absolute;
	left:73px;
	top:2651px;
	font-family:Share Tech;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.txt1 { 
	color:rgba(0, 0, 0, 1);
	width:647px;
	height:114px;
	position:absolute;
	left:733px;
	top:1075px;
	font-family:Share Tech;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.txt2 { 
	color:rgba(0, 0, 0, 1);
	width:647px;
	height:114px;
	position:absolute;
	left:73px;
	top:1683px;
	font-family:Share Tech;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.txt3 { 
	color:rgba(0, 0, 0, 1);
	width:647px;
	height:114px;
	position:absolute;
	left:720px;
	top:2198px;
	font-family:Share Tech;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.txt4 { 
	color:rgba(0, 0, 0, 1);
	width:647px;
	height:114px;
	position:absolute;
	left:73px;
	top:2842px;
	font-family:Share Tech;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
}
.group_15_109_141 { 
	width:445px;
	height:472px;
	position:absolute;
	left:821px;
	top:1421px;
	background-image: url(images/Group\ 15.png);
}

.group_104_124 { 
	width:252.5px;
	height:101px;
	position:absolute;
	left:25.25px;
	top:101px;
}

.vector_104_125 { 
	width:252.5px;
	height:101px;
	position:absolute;
	left:0px;
	top:0px;
}
.group_16_109_142 { 
	width:445px;
	height:472px;
	position:absolute;
	left:174px;
	top:1936px;
}
.unsplash_8oykwqgbskq_104_127 { 
	width:445px;
	height:472px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
	background-image:url(images/unsplash_8oykwqgbskq.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ctrl_c_ctrl_v_104_126 { 
	color:rgba(255, 255, 255, 1);
	width:178px;
	height:216px;
	position:absolute;
	left:134px;
	top:128px;
	font-family:Share Tech;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.group_14_109_140 { 
	width:365.29608154296875px;
	height:242.62490844726562px;
	position:absolute;
	left:115px;
	top:909px;
	background-image: url(images/Group\ 14.png);
}
.rectangle_29_107_135 { 
	background-color:rgba(20.066206455230713, 115.0390474498272, 183.81250709295273, 1);
	width:319px;
	height:166px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.click_me__107_136 { 
	color:rgba(255, 255, 255, 1);
	width:217px;
	height:72px;
	position:absolute;
	left:51px;
	top:47px;
	font-family:Share Tech;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.group_13_107_134 { 
	transform: rotate(149.99999955470795deg);
	width:70.00057983398438px;
	height:126.5218734741211px;
	position:absolute;
	left:302.03515625px;
	top:98.053466796875px;
}
.rectangle_28_107_132 { 
	transform: rotate(149.99999955470795deg);
	background-color:rgba(0, 0, 0, 1);
	width:12.37102222442627px;
	height:56.23191833496094px;
	position:absolute;
	left:10.190642199708009px;
	top:75.28027819065164px;
}
.polygon_1_107_133 { 
	transform: rotate(149.99999955470795deg);
	background-color:rgba(0, 0, 0, 1);
	width:70.00057983398438px;
	height:82.66091918945312px;
	position:absolute;
	left:0px;
	top:0px;
}
.rectangle_26_104_119 { 
	background-color:rgba(148.50349456071854, 12.962518036365509, 255, 1);
	width:507px;
	height:148px;
	position:absolute;
	left:466px;
	top:3242px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.join_me_107_138 { 
	color:rgba(255, 255, 255, 1);
	width:191px;
	height:72px;
	position:absolute;
	left:624px;
	top:3280px;
	font-family:Share Tech;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}

 
