<!DOCTYPE html>

<html>
    <title>CursorBridge-Button</title>
    <meta charset="UTF-8">
    <lang="en"></lang>
    <link href="ButtonPageStyles.css" rel="stylesheet" type="text/css"> 
    <script href="component.js"></script>
           <div class="navbar">
            <div class="content">
                <img class="Logo" src="Images/Logo.png"><a  class="LogoLink" href="../Discover.html"></a> </img>
                <a class="Button" href="" >Button</a>
                <a class="SearchBar" href="" >Search Bar</a>
                <a class="Icons" href="" >Icons</a>
                <a class="Other" href="" >Other</a>
            </div>
            </div>
                <div id="Loader">
                    <div id="loader"></div>
                </div>

    <body>
        <div class="ButtonHolder">
            <div class="Mooncard">
                <div class="Card-title"><a class="Card-title" href="MoonButton.html">MoonBoy</a></div>
                <div class="seperator"></div>
                <div class="CardImage"><img class="img" src="Images/Group2.png"></div>
            </div>
            <div class="Forestcard">
                <div class="Card-title">Green Been</div>
                <div class="seperator"></div>
                <div class="CardImage"><img class="img" src="Images/Group13.png"></div>
            </div>
            <div class="VolcanoSpikes">
                <div class="Card-title">Volcanospikes</div>
                <div class="seperator"></div>
                <div class="CardImage"><img class="img" src="Images/Group 1.png"></div>
            </div>
            <div class="PurpleButton">
                <div class="Card-title"><a class="Card-title" href="PurpleButton.html">Purple</a></div>
                <div class="seperator"></div>
                <div class="CardImage"><img class="img" src="Images/Group6.png"></div>
            </div>
            <div class="BreadButton">
                <div class="Card-title"><a class="Card-title" href="BreadButton.html">Bread</a></div>
                <div class="seperator"></div>
                <div class="CardImage"><img class="img" src="Images/BreadButton.png"></div>
            </div>
            <div class="GamingBtn">
                <div class="Card-title">Gaming</div>
                <div class="seperator"></div>
                <div class="CardImage"><img class="img" src="Images/GamingBtn.png"></div>
            </div>
                    <div class="Arrow"></div>
        </div>
    </body>
</html>