#HTMLcontent {
    display: none;
    position: absolute;
}

#CSScontent {
    position: absolute;
    display: none;
    top: 25%;
    left: 48%;
    border-radius: 20px;
}

#HTMLcontent {
    position: absolute;
    display: block;
    top: 25%;
    left: 48%;
    border-radius: 20px;
}

#HTML {
    width: 7%;
    height: 9%;
    border-radius: 20px;
    position: absolute;
    top: 16%;
    left: 49.7%;
    font-size: 20px;
    font-family: 'Roberto' sans-serif;
}

#HTML:hover {
    width: 7%;
    height: 9%;
    border-radius: 20px;
    position: absolute;
    top: 16%;
    left: 49.7%;
    font-size: 20px;
    font-family: 'Roberto' sans-serif;
    background-color: #ee7a7a;
}

#CSS {
    width: 7%;
    height: 9%;
    border-radius: 20px;
    position: absolute;
    top: 16%;
    left: 57%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#CSS:hover {
    width: 7%;
    height: 9%;
    border-radius: 20px;
    position: absolute;
    top: 16%;
    left: 57%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #ee7a7a;
}

.Image {
    position: absolute;
    top: 40%;
    left: 15%;
    width: 350px;
    height: 150px;

}

#IMG {
    width: 7%;
    height: 9%;
    border-radius: 20px;
    position: absolute;
    top: 16%;
    left: 64.3%;
    font-size: 20px;
    font-family: 'Roberto' sans-serif;
}

#IMG:hover {
    width: 7%;
    height: 9%;
    border-radius: 20px;
    position: absolute;
    top: 16%;
    left: 64.3%;
    font-size: 20px;
    font-family: 'Roberto' sans-serif;
    background-color: #ee7a7a;
}

#Imgcontent {
    position: absolute;
    display: none;
    top: 40%;
    left: 48%;
    font-family: cursive;
    font-size: 30px;
    color: black;
}