<html>
  <title>MoonBoy</title>
<body>
  <div id="Back"><p id="Backtxt"><a id="txt" href="Buttonpage.html">Back</a></p></div>
  <style>
      body {
        background: #FFD0D0;
      }
    </style>
    
  <div class="buttons">

      <button id="HTML">HTML</button>
      <button id="CSS">CSS</button>
      <button id="IMG">Image</button>

  </div>

  <img src="Images/Group2.png" class="Image"> 

  <div class="content">
      <iframe  id="CSScontent" src="https://www.thiscodeworks.com/embed/61ad3308e9ef2000152ae32b" style="width: 40%; height: 500px;" frameborder="0"></iframe>
      <iframe id="HTMLcontent" src="https://www.thiscodeworks.com/embed/61ad23f2e9ef2000152ae326" style="width: 40%; height: 500px;" frameborder="0"></iframe>
      <a href="Images/Boywalking.png" download="Boywalking.png" id="Imgcontent"> Click here to preview and download</a>
  </div>

  <script src="View.js"></script>
  <link rel="stylesheet" href="View.css">


</body>
</html>
