<html>
  <title>MoonBoy</title>
  <script href="../Controls/Theming.css"></script>
<body id="body">
  <div id="Back"><p id="Backtxt"><a id="txt" href="Buttonpage.html">Back</a></p></div>
    
  <div class="buttons">

      <button id="HTML">HTML</button>
      <button id="CSS">CSS</button>
      <button id="IMG">Image</button>
      <button id="SVG">SVG</button>

  </div>

  <img src="Images/Group6.png" class="Image"> 
  <div class="Notes"><p class="Notetitle">Notes</p>
      <li class="Notestxt">If you are choosing images, then you must create an 'img' tag in your code and link the image you downloaded with the src attribute. For instance 'src=img/hello.png' </li>
      <li class="Notestxt2">If you are choosing SVG, create a new file and paste your SVG code there. Now, go to your main code and you must create an 'img'tag in your code and link the SVG file you created with the src attribute. For instance 'src=code/hello.svg'</li>
  </div>

  <div class="content">
      <iframe  id="CSScontent" src="https://www.thiscodeworks.com/embed/61e73a9004f1520015d8d8a1" style="width: 40%; height: 500px;" frameborder="0"></iframe>
      <iframe id="HTMLcontent" src="https://www.thiscodeworks.com/embed/61e7396004f1520015d8d8a0" style="width: 40%; height: 500px;" frameborder="0"></iframe>
      <a id="Imgcontent"> No images!</a>
      <iframe id="SVGcontent" src="https://www.thiscodeworks.com/embed/61eb62dd70147b00155329b5" style="width: 40%; height: 500px;" frameborder="0"></iframe>
  </div>

  <script src="View.js"></script>
  <link rel="stylesheet" href="View.css">
  <link rel="stylesheet" href="/dist/output.css">


</body>
</html>
