#HTMLcontent {
    display: none;
    position: absolute;
}

.Notetitle {
    position: absolute;
    top: -5px;
    left: 5%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    color: red;
}

.Notestxt {
    position: absolute;
    top: 25%;
    left: 1.5%;
    font-family: 'Josefin Sans', sans-serif;
    }

.Notestxt2 {
    position: absolute;
    top: 55%;
    left: 1.5%;
    font-family: 'Josefin Sans', sans-serif;
}


.Notes {
    width: 48%;
    height: 155px;
    background-color: #f3f3f3;
    border-radius: 15px;
    position: absolute;
    top: 70%;
    left: 10px;
    box-shadow: rgb(179, 179, 179) 0px 0px 25px;
}

#Backtxt {
    text-decoration: none;
    color: white;
    font-size: 25px;
    position: absolute;
    top: -6px;
    left: 30px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

#txt {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

#Back {
    background-color: red;
    width: 100px;
    height: 50px;
    border-radius: 35px;

}

#CSScontent {
    position: absolute;
    display: none;
    top: 25%;
    left: 49%;
    border-radius: 20px;
}

#HTMLcontent {
    position: absolute;
    display: none;
    top: 25%;
    left: 49%;
    border-radius: 20px;
}

#HTML {
    width: 7%;
    height: 9%;
    border-radius: 10px;
    position: absolute;
    top: 16%;
    left: 49.7%;
    font-size: 20px;
    font-family: 'Roberto' sans-serif;
    background-color: #f19999;
    border-style: none;
}

#HTML:hover {
    width: 7%;
    height: 9%;
    border-radius: 10px;
    position: absolute;
    top: 16%;
    left: 49.7%;
    font-size: 20px;
    font-family: 'Roberto' sans-serif;
    background-color: #ee7a7a;
    border-style: none;
}

#CSS {
    width: 7%;
    height: 9%;
    border-radius: 10px;
    position: absolute;
    top: 16%;
    left: 57%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #f19999;
    border-style: none;
}

#CSS:hover {
    width: 7%;
    height: 9%;
    border-radius: 10px;
    position: absolute;
    top: 16%;
    left: 57%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #ee7a7a;
    border-style: none;
}

.Image {
    position: absolute;
    top: 40%;
    left: 15%;
    width: 350px;
    height: 150px;

}

#IMG {
    width: 7%;
    height: 9%;
    border-radius: 10px;
    position: absolute;
    top: 16%;
    left: 64.3%;
    font-size: 20px;
    font-family: 'Roberto' sans-serif;
    background-color: #f19999;
    border-style: none;
}

#IMG:hover {
    width: 7%;
    height: 9%;
    border-radius: 10px;
    position: absolute;
    top: 16%;
    left: 64.3%;
    font-size: 20px;
    font-family: 'Roberto' sans-serif;
    background-color: #ee7a7a;
    border-style: none;
}

#Imgcontent {
    position: absolute;
    display: none;
    top: 40%;
    left: 49%;
    font-family: cursive;
    font-size: 25px;
    color: black;
    text-decoration: none;
}

#SVG {
    width: 7%;
    height: 9%;
    border-radius: 10px;
    position: absolute;
    top: 16%;
    left: 71.65%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #f19999;
    border-style: none;
}

#SVG:hover {
    width: 7%;
    height: 9%;
    border-radius: 10px;
    position: absolute;
    top: 16%;
left: 71.65%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #ee7a7a;
    border-style: none;
}

#SVGcontent {
    position: absolute;
    display: none;
    top: 25%;
    left: 49%;
    border-radius: 20px;
}