<!DOCTYPE html>

<html>
    <title>CursorBridge-Discover</title>
    <meta charset="UTF-8">
    <lang="en"></lang>
    <link rel="shortcut icon" href="../Favicon.ico">
    <link href="Discoverstyles.css" rel="stylesheet" type="text/css"> 
           <div class="navbar">
                <div class="content">
                    <img class="Logo" src="Images/Logo.png"></img>
                    <a class="Button" href="Buttons/Buttonpage.html" >Button</a>
                    <a class="SearchBar" href="" >Search Bar</a>
                    <a class="Icons" href="" >Icons</a>
                    <a class="Other" href="" >Other</a>
                </div>
            </div>
                
            <div id="Loader">
                <div id="loader"></div>
            </div>

    <body>
        <div class="ButtonHolder">
            <div class="Mooncard">
                <div class="Card-title"><a class="Card-title" href="Buttons/MoonButton.html">MoonBoy</a></div>
                <div class="seperator"></div>
                <div class="CardImage"><img class="img" src="Buttons/Images/Group2.png"></div>
            </div>
            <div class="Forestcard">
                <div class="Card-title">Green Been</div>
                <div class="seperator"></div>
                <div class="CardImage"><img class="img" src="Buttons/Images/Group13.png"></div>
            </div>
            <div class="VolcanoSpikes">
                <div class="Card-title">Volcanospikes</div>
                <div class="seperator"></div>
                <div class="CardImage"><img class="img" src="Buttons/Images/Group 1.png"></div>
            </div>
            <div class="PurpleButton">
                <div class="Card-title"><a class="Card-title" href="Button/PurpleButton.html">Purple</a></div>
                <div class="seperator"></div>
                <div class="CardImage"><img class="img" src="Buttons/Images/Group6.png"></div>
            </div>
            <div class="BreadButton">
                <div class="Card-title"><a class="Card-title" href="Buttons/BreadButton.html">Bread</a></div>
                <div class="seperator"></div>
                <div class="CardImage"><img class="img" src="Buttons/Images/BreadButton.png"></div>
            </div>
            <div class="GamingBtn">
                <div class="Card-title">Gaming</div>
                <div class="seperator"></div>
                <div class="CardImage"><img class="img" src="Buttons/Images/GamingBtn.png"></div>
            </div>
                    <div class="Arrow"></div>
        </div>

        <div class="SearchHolder">
            <div class="NormalSearch">
                <div class="Card-title">SearchMe</div>
                <div class="seperator"></div>
                <div class="SearchImg"><img class="img" src="SearchBar/Images/Searchbar.png"></div>
            </div>
            <div class="THeLavaFlow">
                <div class="Card-title">Redme</div>
                <div class="seperator"></div>
                <div class="SearchImg"><img class="img" src="SearchBar/Images/Lavaman.png"></div>
            </div>
            <div class="PinkFrenzy">
                <div class="Card-title">PinkFrenzy</div>
                <div class="seperator"></div>
                <div class="SearchImg"><img class="img" src="SearchBar/Images/PinkFrenzy.png"></div>
            </div>
            <div class="SeaBed">
                <div class="Card-title">SeaBed</div>
                <div class="seperator"></div>
                <div class="SearchImg"><img class="img" src="SearchBar/Images/SeaBed.png"></div>
            </div>
            <div class="PlainRed">
                <div class="Card-title">PlainRed</div>
                <div class="seperator"></div>
                <div class="SearchImg"><img class="img" src="SearchBar/Images/PlainRed.png"></div>
            </div>
            <div class="BandW">
                <div class="Card-title">B&W</div>
                <div class="seperator"></div>
                <div class="SearchImg"><img class="img" src="SearchBar/Images/BandW.png"></div>
            </div>
                    <div class="Arrow2"></div>
        </div>
    </body>
</html>