<!DOCTYPE html>

<html>
    <title>CursorBridge-Discover</title>
    <meta charset="UTF-8">
    <lang="en"></lang>
    <link href="Discoverstyles.css" rel="stylesheet" type="text/css">
    <body>
        <div class="Bodydiv">
            <div class="Mooncard">
                <div class="Card-title">Moon Boy</div>
                <div class="seperator"></div>
                <div class="Card-image"><img class="img" src="Buttons/Images/Group2.png"></div>
            </div>
            <div class="Forestcard">
                <div class="Card-title">Green Been</div>
                <div class="seperator"></div>
                <div class="Card-image"><img class="img" src="Buttons/Images/Group 13.png"></div>
            </div>
            <div class="VolcanoSpikes">
                <div class="Card-title">Volcanospikes</div>
                <div class="seperator"></div>
                <div class="Card-image"><img class="img" src="Buttons/Images/Group 1.png"></div>
            </div>
        </div>
    </body>
</html>