<!DOCTYPE html>

<html>
    <title>CursorBridge-Discover</title>
    <meta charset="UTF-8">
    <lang="en"></lang>
    <body>
        <div class="Bodydiv">
            <div class="Card">
                <div class="Card-title">MoonButton</div>
                <div class="seperator"></div>
                <div class="Card-image"><img class="img" src="Buttons/Images/Group2.png"></div>
                <link href="Discoverstyles.css" rel="stylesheet" type="text/css">
            </div>
        </div>
    </body>
</html>